body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.left-container {
    width: 20%;
    height: 100vh;
    background-color: #2c3e5083;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
}

.right-container {
    width: 80%;
    padding: 20px;
    margin-left: 25%;
    position: sticky;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
